
.Footer {
  margin: 20px 0px 0px;
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #e2e2e2;
}

.Footer a {
  text-decoration: none;
}

.FooterSeparator {
  color: #E2E2E2;
  text-align: center;
  width: 100px;
}

.FooterText {
  color: #E2E2E2;
  text-decoration: none;
  font-family: "Inconsolata";
  font-size: 18pt;
}
