.Header {
  padding: 30px 0;
  display: grid;
  grid-template-columns: 1fr auto;
}

.Header p {
  color: #E2E2E2;
  margin: 0;
}

.Header > .name {
  text-align: left;
  font-family: "Inconsolata";
  font-size: 24pt;
}

/* todo switch to flexbox */
.Header > .links {
  display: grid;
  grid-template-columns: 30px;
  grid-template-rows: 1fr;
  grid-template-areas: "circle";
  grid-gap: 10px;
}

.Header .logo-link {
  width: 30px;
  height: 30px;
  background-color: #A9A9B9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header .logo-link > img {
  width: 80%;
  height: 80%;
}

