/*
.Portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
*/

.Portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.PortfolioColumn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.PortfolioVertDivider {
  width: 15px;
}

.PortfolioItem {
  width: 100%;
  padding: 3px 0px;
}

.PortfolioItem img {
  width: 100%;
}
